.features-section {
  background-color: #b21717;
}

.feature-icon {
  font-size: 4rem;
  color: #ff6f61;
  margin-bottom: 20px;
}

.features-section h4 {
  margin-top: 20px;
  font-size: 1.5rem;
}
