.home-section {
  background-image: url('../assets/home\ img.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-color{
  color: #fff
}

.overlay {
  background-color: rgba(14, 11, 11, 0.5);
  padding: 60px;
  text-align: center;
}

.home-section h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.home-section p {
  font-size: 1.25rem;
}
